<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <center><title>Blog Aggregator</title></center>
</head>
<body>
</br></br></br></br></br></br></br></br>
    <form action="/feed/search/" method="get">
    	<center><h1>Enter the RSS feed link to be searched:</h1>
        <input type="text" name="q">
        <input type="submit" value="Search">
    </center></form>
</body>
</html>